<%= form_with(model: mark, :class => "row g-3") do |form| %>
  <% if mark.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(mark.errors.count, "error") %> Prohibido que se guarde esta marca:</h2>

      <ul>
        <% mark.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-4">
    <%= form.label :mark %>
    <%= form.text_field :mark , :class => "form-control", :placeholder => "ej. HP"%>
  </div>

  <div class="col-md-4">
    <%= form.label :slug %>
    <%= form.text_field :slug , :class => "form-control", :placeholder => "ej. hp"%>
  </div>

  <div>
    <%= form.label :active %>
    <%= form.check_box :active, checked: true, :class => "form-check-input" %>
  </div>

  <div>
    <%= form.submit 'Agregar Marca', :class => "btn btn-primary"%>
  </div>
<% end %>
