<div id="<%= dom_id servicio %>">
  <p>
    <strong>Name serv:</strong>
    <%= servicio.name_serv %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= servicio.description %>
  </p>

  <p>
    <strong>Costo serv:</strong>
    <%= servicio.costo_serv %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= servicio.active %>
  </p>

</div>
