<div class="shadow-lg p-3 mb-5 bg-body rounded">

    <div id="<%= dom_id cotiz %>">
     

        <div class="card">
          <div class="card-header">
            N° <strong><%= cotiz.id%></strong>
          </div>
          <div class="card-body">
            <h5 class="card-title">  <%= cotiz.client.name %></h5>
            <p class="card-text"><%= cotiz.user.email %></p>
            
              <%= link_to "Ver Detalles", cotiz , :class => "btn btn-primary"%>
          </div>
        </div>



    </div>

</div>
