  
<%= render "home/menu" %>

<h1>Sistema CodeWeb</h1>



<div class="shadow-lg p-3 mb-5 bg-body rounded">

  <div class="container">
    <div class="row row-cols-3">


      <!-- SHADOW-->
      <div class="shadow-lg p-3 mb-5 bg-body rounded">
      <!-- COLUM-->
        <div class="col">
          <!-- CARD-->
          <%= link_to  clients_url  do %>
          <div class="card" style="width: 18rem;">
           <%= image_tag 'clientes.png', :class => "card-img-top", :size => "90x160" %>
            
              <div class="card-body">
                <h5 class="card-title"> Cientes</h5>
                <p class="card-text">Un registro de nuestros clientes donde analizamis cada uno de ellos.</p>
                
                <br>
                <%= link_to  "Registrar clientes", new_client_path, class:"btn btn-primary" %>
              </div>
          </div>
          <%end%>
        </div>
      </div>




      <div class="shadow-lg p-3 mb-5 bg-body rounded">
        <div class="col">

          <%= link_to  sales_url  do %>
            <div class="card" style="width: 18rem;">
                <%= image_tag 'ventas.png', :class => "card-img-top", :size => "90x160" %>
                <div class="card-body">
                    <h5 class="card-title">Ventas</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <br>
                    <%= link_to  "REALIZAR VENTA", new_sale_path, class:"btn btn-primary" %>
                    
                </div>
            </div>
            
            <% end %>
        </div>
      </div>






      <div class="shadow-lg p-3 mb-5 bg-body rounded">
        <div class="col">
          <%= link_to products_url do %>
            <div class="card" style="width: 18rem;">
              <%= image_tag 'productos.png', :class => "card-img-top", :size => "90x160" %>
              <div class="card-body">
                  <h5 class="card-title">Productos</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <br>
                  <%= link_to  "Registrar Productos", new_product_path, class:"btn btn-primary" %>
            </div>
          </div>
          <%end%>
        </div>
      </div>



    </div>
  </div>
</div>



<div class="shadow-lg p-3 mb-5 bg-body rounded">
    <div class="container">
    <div class="row row-cols-3">


      <!-- SHADOW-->
      <div class="shadow-lg p-3 mb-5 bg-body rounded">
      <!-- COLUM-->
        <div class="col">
          <!-- CARD-->
          <%= link_to  cotizs_url  do %>
          <div class="card" style="width: 18rem;">
           <%= image_tag 'cotizs.png', :class => "card-img-top", :size => "90x160" %>
            
              <div class="card-body">
                <h5 class="card-title"> Cotizaciones</h5>
                <p class="card-text">En este modulo podemos generar nuestras cotizaciones.</p>
                
                <br>
                <%= link_to  "Realizar Cotizacion", new_cotiz_path, class:"btn btn-primary" %>
              </div>
          </div>
          <%end%>
        </div>
      </div>




      <div class="shadow-lg p-3 mb-5 bg-body rounded">
        <div class="col">

          <%= link_to  sales_url  do %>
            <div class="card" style="width: 18rem;">
                <%= image_tag '', :class => "card-img-top", :size => "90x160" %>
                <div class="card-body">
                    <h5 class="card-title">orden de Servicio</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <br>
                    <%= link_to  "REALIZAR VENTA", new_sale_path, class:"btn btn-primary" %>
                    
                </div>
            </div>
            
            <% end %>
        </div>
      </div>






      <div class="shadow-lg p-3 mb-5 bg-body rounded">
        <div class="col">
          <%= link_to products_url do %>
            <div class="card" style="width: 18rem;">
              <%= image_tag '', :class => "card-img-top", :size => "90x160" %>
              <div class="card-body">
                  <h5 class="card-title">Revicion</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <br>
                  <%= link_to  "Registrar Productos", new_product_path, class:"btn btn-primary" %>
            </div>
          </div>
          <%end%>
        </div>
      </div>



    </div>
  </div>

</div>








