<%= form_with(model: extent, :class => "row g-3") do |form| %>
  <% if extent.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(extent.errors.count, "error") %> prohibited this extent from being saved:</h2>

      <ul>
        <% extent.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-4">
    <%= form.label :Unidad_Medida %>
    <%= form.text_field :extent, :class => "form-control", :placeholder => "ej. Pz" %>
  </div>

  <div class="col-md-4">
    <%= form.label :slug %>
    <%= form.text_field :slug, :class => "form-control", :placeholder => "ej. pz" %>
  </div>

  <div class= "form-check">
    <%= form.label :active %>
    <%= form.check_box :active, :class => "form-check-input", checked: true %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
