<%= form_with(model: product, :class => "row g-3") do |form| %>



  <div class="col-md-4">
    <%= form.label :codigo %>
    <%= form.text_field :code, :class => "form-control" %>
  </div>
  <div  class="col-md-4" >
    <%= form.label :producto %>
    <%= form.text_field :name_p, :class => "form-control" %>
  </div>
 
  <div  class="col-md-4">
    <%= form.label :description %>
    <%= form.text_area :description, :class => "form-control" %>
  </div>
 

  <div class = "col-md-4">
    <%= form.label :categoria %>
    
    <%= form.collection_select(:category_id, Category.all, :id, :category, options = {}, {:class => "form-control"})%>
  </div>

  <div   class = "col-md-4" >
    <%= form.label :Marca %>
                                 
    <%= form.collection_select(:mark_id, Mark.all, :id, :mark, options = {}, {:class => "form-control"})%>
  </div>

  <div  class = "col-md-4">
    <%= form.label :U_medida %>
                           
    <%= form.collection_select(:extent_id, Extent.all, :id, :extent, options = {}, {:class => "form-control"})%>
  </div>
  <div  class = "col-md-4">
    <%= form.label :Proveedor %>
                           
    <%= form.collection_select(:supplier_id, Supplier.all, :id, :name_pro, options = {}, {:class => "form-control"})%>
  </div>



 <div class = "col-md-4">
    <%= form.label :costo %>
    <%= form.number_field :costo, :step => "any", :class => "form-control" %>
  </div>

  <div class = "col-md-4">
    <%= form.label :precio %>
    <%= form.number_field :precio, :step => "any", :class => "form-control" %>
  </div>

  <div>
    <%= form.label :active %>
    <%= form.check_box :active, :class => "form-check-input", checked: true %>
  </div>

  <div>
    
    <input type="submit" value="Guardar" onclick="location.reload()"/>
  </div>
<% end %>
