
  <div id="<%= dom_id product %>">
        <div class="card">
        <h5 class="card-header">Codigo: <%= product.code%></h5>
        <div class="card-body">
          <h5 class="card-title"><%= product.name_p %></h5>
          <p class="card-text"><%= product.description %></p>
          <strong>Cantidad:  <%= product.stok%> </strong> 
          
        </div>
      </div>


     
    
  </div>

