
<div class="container-xxl">
<div class="shadow-lg p-3 mb-5 bg-body rounded">

<div class="container">
  <div class="row row-cols-3">
    <div class="col"><%= link_to  "Agregar Categorias", new_category_path, class:"btn btn-primary" %></div>
    <div class="col"><%= link_to  "Agregar marcas", new_mark_path, class:"btn btn-primary" %></div>
    <div class="col"><%= link_to  "Agregar Umedidas", new_extent_path, class:"btn btn-primary" %></div>
   
  </div>
</div>

</div>

<h1>Products</h1>



<!--FORMULARIO DE BUSQUEDA DE procuctis-->
<%=  form_with(url: products_path, method: :get, class: "row g-3  justify-content-end",  data: {controller: "search-form", turbo_frame: "name_p", turbo_action: "advance" }) do |form| %>

    <div class="col-auto">
        <%= form.label :query, "." %>
      </div>
      <div class="col-auto">
        <%= form.text_field :query, class: "form-control", data: {action: "input->search-form#search"}, placeholder: "Buscar...." %>
    </div>
    <div class="col-auto">
        <%= form.submit 'BUSCAR', class: "btn btn-warning mb-3 rounded-pill" %>
    </div>
<% end %>





<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Buscar por codigo..">




<div class="shadow-lg p-3 mb-5 bg-body rounded">


<div class="table-responsive">

  <table id='myTable' class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">code</th>
      <th scope="col">nombre</th>
      <th scope="col">Description</th>
      <th scope="col">stok</th>
      <th scope="col">precio</th>
    
    </tr>
  </thead>
  <tbody>

<div id="products">
  <% @products.each do |product| %>
  <% if product.stock >= 1 %>
  
 
  
    <tr class= "table-success">
      <th scope="row"> <%= product.id %></th>
     
      <td><%= link_to product.code, (product)%></td>
      <td><%= product.name_p %></td>
      <td><%= product.description %></td>
      <td> <%= product.stock %></td>
      <td> <%= number_to_currency(product.precio) %></td>

      <td><%= link_to "edit", edit_product_path(product), "data-controller": "turbo"%></td>
  
      
    </tr>
    <% else %>
          <tr class= "table-danger">
      <th scope="row"> <%= product.id %></th>
     
      <td><%= link_to product.code, product%></td>
      <td><%= product.name_p %></td>
      <td><%= product.description %></td>
      <td> <%= product.stock %></td>
      <td> <%= number_to_currency(product.precio) %></td>
       <td><%= link_to "edit", edit_product_path(product), "data-controller": "turbo"%></td>
  
      
    </tr>


   <% end %>
  <% end %>
</div>
</tbody>
</table>   

<%= link_to "New product", new_product_path, "data-controller": "turbo" %>


<!-- Button trigger modal -->






</div>


</div>



<script>
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>