<div class="shadow-lg p-3 mb-5 bg-body rounded">
      <h1>  Crear Movimiento</h1>
      <div class="container">
       <div class="row align-items-start">
          <div class= "col">
            <%= render @product %>    
          </div>
          <div class = "col">
              <%= form_with model: @movimient, url: create_movimient_product_path(@product), :class => "row g-3"  do |f| %>

                    <div class="row g-3">
                        <div class="col">
                          <%= f.select :tipo, options_for_select(Movimient.get_movimient_types), {}, {class: 'form-control'}%>

                        </div>
                        <div class="col">
                          <%= f.number_field :cant, :class => "form-control", :placeholder => "Cantidad"%> 
                        </div>
                        
                      </div>
                          <div class="input-group">
                            
                            <%= f.text_area :coment, :class => "form-control", :placeholder => "¿Porque se realizo el movimiento?" %> 
                         
                          </div>
                         <div class="input-group">
                          <button type="submit" class="btn btn-outline-primary">GUARDAR</button>|  <%= link_to "cancelar", product_path(@product), :class => "btn btn-outline-danger" %>

                        </div>

                      <% end %>
          </div>

      
       </div>
      </div>
</div>