<div id="<%= dom_id supplier %>">
  <p>
    <strong>Name pro:</strong>
    <%= supplier.name_pro %>
  </p>

  <p>
    <strong>Cel pro:</strong>
    <%= supplier.cel_pro %>
  </p>

  <p>
    <strong>Direcction:</strong>
    <%= supplier.direcction %>
  </p>

  <p>
    <strong>Email pro:</strong>
    <%= supplier.email_pro %>
  </p>

  <p>
    <strong>Nota:</strong>
    <%= supplier.nota %>
  </p>

</div>
