<div id="<%= dom_id sale %>">
  <p>
    <strong>User:</strong>
    <%= sale.user_id %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= sale.client_id %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= sale.fecha %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= sale.total %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= sale.active %>
  </p>

</div>
