
<%= form_with(model: @sale) do |form| %>


  <div>
                <%= form.label :Client, class: "" %>    
                <%= form.collection_select(:client_id, Client.all, :id, :name, options = {}, {:class => "form-control"})%>
       </div>


  <div>
    <%= form.label :fecha, style: "display: block" %>
    <%= form.date_field :fecha, value:  Date.today, class: "form-control"  %>
    
  </div>

  <div>
    <%= form.label :import, style: "display: block" %>
    <%= form.number_field :import, value: @sale.get_sale_total , class: "form-control" %>	
    	
  </div>

  <div>
    <%= form.label :active %>
    <%= form.check_box :active , checked: true  %>
  </div>

  <div>
    <%= form.submit 'Generar Venta'%>
  </div>
<% end %>
<br>


<div>
  <%= link_to "Ver", @sale %> |
  <%= link_to "Regresar", sales_path %>| <%= button_to "Cancelar venta", @sale, method: :delete, class: "btn btn-danger" %>
</div>

 <%= form_with model: [ @sale, @sale.saledetails.build ] do |form| %>
 
 <% end %>
 





<%= turbo_frame_tag 'sale-details', src: sale_saledetails_path(@sale) %>


<!-- estilo de ventas  -->

