<!DOCTYPE html>
<html>
  <head>
    <title>Sistem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  
  </head>

  <body>
  <div class="container">
  <!-- Content here -->
    <div class="shadow-lg p-3 mb-5 bg-body rounded">

          <%= link_to  root_url  do  %>
      <%= image_tag '_logo.jpg', :size => "250x80" %>

      <%end%>
          <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
          <%= yield %>
          </div>
  </div>


  </body>
</html>
